<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>I2C:_OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>I2C1:_STA to XSTA in GPI0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1NUQQ==
					</data>
					<key>Replace</key>
					<data>
					WFNUQQ==
					</data>
					<key>TgtBridge</key>
					<data>
					R1BJMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>I2C1:_STA to XSTA in TPD0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1NUQQ==
					</data>
					<key>Replace</key>
					<data>
					WFNUQQ==
					</data>
					<key>TgtBridge</key>
					<data>
					VFBEMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>I2C1:_CRS to XCRS in TPD0</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0NSUw==
					</data>
					<key>Replace</key>
					<data>
					WENSUw==
					</data>
					<key>TgtBridge</key>
					<data>
					VFBEMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PS2M:_STA to XSTA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1NUQQ==
					</data>
					<key>Replace</key>
					<data>
					WFNUQQ==
					</data>
					<key>TgtBridge</key>
					<data>
					UFMyTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PS2M:_CID to XCID</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0NJRA==
					</data>
					<key>Replace</key>
					<data>
					WENJRA==
					</data>
					<key>TgtBridge</key>
					<data>
					UFMyTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(1,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(1,S)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>UPBI -&gt; XPBI in BAT0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVBCSQA=
					</data>
					<key>Replace</key>
					<data>
					WFBCSQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>UPBS -&gt; XPBS in BAT0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVBCUwA=
					</data>
					<key>Replace</key>
					<data>
					WFBCUwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IVBI -&gt; XVBI in BAT0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SVZCSQA=
					</data>
					<key>Replace</key>
					<data>
					WFZCSQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q60 -&gt; XQ60</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2MA==
					</data>
					<key>Replace</key>
					<data>
					WFE2MA==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>NoDynamicExtract</key>
			<false/>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>slide=0</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>NeverHibernate</key>
		<false/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>Inject</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>device-id</key>
				<data>
				YKMAAA==
				</data>
				<key>device_type</key>
				<string>XHC</string>
				<key>model</key>
				<string>Connon Lake PCH USB 3.1 xHCI Host Controller</string>
				<key>name</key>
				<string>Intel XHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>device-id</key>
				<data>
				YKMAAA==
				</data>
				<key>device_type</key>
				<string>IMEI</string>
				<key>model</key>
				<string>Apple Intel IMEI Driver</string>
				<key>name</key>
				<string>IMEI</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>device-id</key>
				<data>
				U6MAAA==
				</data>
				<key>device_type</key>
				<string>AHCI</string>
				<key>model</key>
				<string>Intel 300 Series Chipset Family SATA Controller</string>
				<key>name</key>
				<string>Intel AHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1d,0x6)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>compatible</key>
				<string>pci14e4,4353</string>
				<key>device_type</key>
				<string>Airport Extreme</string>
				<key>model</key>
				<string>DW1820A (BCM4350) 802.11ac Wireless</string>
				<key>name</key>
				<string>Airport</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<integer>99</integer>
				<key>model</key>
				<string>Realtek HD Audio ALC257</string>
				<key>name</key>
				<string>Realtek HD Audio ALC257</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AACbPg==
				</data>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>dpcd-max-link-rate</key>
				<data>
				CgAAAA==
				</data>
				<key>enable-cfl-backlight-fix</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-dpcd-max-link-rate-fix</key>
				<string>01000000</string>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-patch0-enable</key>
				<integer>1</integer>
				<key>framebuffer-patch0-find</key>
				<data>
				dkZI/wUrOwk=
				</data>
				<key>framebuffer-patch0-replace</key>
				<data>
				60ZI/wUrOwk=
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Intel UHD Graphics 630</string>
			</dict>
		</dict>
		<key>SetIntelMaxBacklight</key>
		<false/>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
			<string>Install macOS Catalina</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>SimpleThemeDark</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IO80211Family.kext</string>
		</array>
		<key>KernelCpu</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>USB port limit patch #1/4 10.14.x modify by DalianSky (credit ydeng)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB port limit patch #2/4 10.14.x modify by DalianSky (credit PMHeart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g+MP0w==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				g+M/0w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #3/4 10.14.x modify by DalianSky (credit PMheart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #4/4 10.14.x modify by DalianSky (credit PMheart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/8PDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/8/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB port limit patch #1 10.15.x modify by DalianSky(credit ydeng)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #2 10.15.x modify by DalianSky</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/kPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/k/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/17/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP151.88Z.F000.B00.1909172039</string>
		<key>Board-ID</key>
		<string>Mac-937A206F2EE63C01</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02827501QXJP4FJC</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>1037.0.78.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro15,1</string>
		<key>SerialNumber</key>
		<string>C02X10KFKGYG</string>
		<key>SmUUID</key>
		<string>35E9A0F0-2823-405A-99CD-83959CA94DC1</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
